################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tn_auto_reg_filtered_CT2.csv
/.ipynb_checkpoints
/.vs
